<mat-card>
  <mat-card-content>
    <ul>
     
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li [matMenuTriggerFor]="menu1">
        <a href="#"
          >Menu
          <mat-menu #menu1="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </a>
      </li>
      <li [matMenuTriggerFor]="menu2">
        <a href="#"
          >Menu
          <mat-menu #menu2="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </a>
      </li>
      <li style="float: right;" *ngIf="isAdmin">
        <a routerLink="/form/register" style="cursor: pointer;" class="text-white">Register new Employee</a>
      </li>
      <li style="float: right;">
        <a (click)="logOut()" style="cursor: pointer;" class="text-white">Log Out</a>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
