<mat-card>
  <mat-card-content style="margin: 0; padding: 8px">
    <mat-card>
      <mat-card-content
        style="padding: 0; background-color:#eaf1c4"
      >
        <div style="display: flex; flex-direction: row; gap: 15px">
          <div>
            <mat-icon (click)="toggle()" class="text-info"
              >vertical_split</mat-icon
            >
          </div>
          <div style="flex:auto"></div>
          <div style="display: flex; align-items: center;">
            <h4 style="margin: 0; font-weight: bold;"> {{date | date : 'EE, MMMM d-yyyy'}} </h4>
          </div>

          <div>
            <mat-icon aria-hidden="true" class="text-info"  [matBadge]="notification" matBadgeColor="accent" (click)="seeNotification()">add_alert</mat-icon>
         
          </div>
          <div>
            <mat-icon class="text-danger" (click)="logOut()"
              >exit_to_app</mat-icon
            >
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
