<mat-card class="mt-2">
  <mat-card-content>
    <div class="d-flex">
      <div style="width: 40%"></div>
      <div><h1 class="fw-bolder">{{employee.name | titlecase}} Details</h1></div>
      <div style="width: 40%"></div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mt-3">
  <mat-card-content>
    <h3>Name: {{employee.name | titlecase}} </h3>
    <h3>Gender: {{employee.gender | titlecase}} </h3>
    <h3>Email: {{employee.email}} </h3>
    <h3>Department: {{employee.department | titlecase}} </h3>
    <h3>Designation: {{employee.designation | titlecase}} </h3>
    <h3>Join Date: {{employee.joinDate | date : "fullDate"}} </h3>
    <h3>salary: {{employee.salary | number : ".2-2"}} </h3>
  </mat-card-content>
</mat-card>

<div style="display: flex; justify-content: center; margin-top: 8px;">
  <div>
    <button mat-raised-button class="mx-5" color="primary" [routerLink]="['/form', 'edit', employee.id]" >Edit</button>
  </div>
</div>
