.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #f0efef;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(9, 9, 9);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #683333;
  }



  .logout{
    cursor: pointer;
  }
