.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    color: #555273;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
  }

  li a:hover {
    background-color: #b6d5e1;
    color: #555273;  
  }

  li .active {
    background-color: #555273;
    size: 1.3rem;
    color: #e2eff1;
    font-weight: bolder;
  }



  .logout{
    cursor: pointer;
  }
