<mat-sidenav-container class="example-container" style="background-color: #e2eff1;">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" >
    <div class="card">
      <div>
        <img
          src="https://png.pngtree.com/png-clipart/20190614/original/pngtree-background-material-design-for-lorem-ipsum-logo-png-image_3624650.jpg"
          alt=""
          width="100px"
        />
      </div>
      <ul >
        <li><a routerLink="/display" [class.active]="dahsboard"><mat-icon>dashboard</mat-icon> Dashboard</a></li>
        <li><a routerLink="/home" [class.active]="employee"><mat-icon class="text-center">group</mat-icon> Employee</a></li>
        <li><a [routerLink]="['/profile']" [class.active]="profile" ><mat-icon>account_box</mat-icon> Profile &nbsp;&nbsp;&nbsp;</a></li>
      </ul>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
    <p>
      <!-- <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button> -->
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>
