.icon1{
    background-color: rgb(150, 8, 8);
}

.icon2{
    background-color: rgb(50, 62, 172);
}

.icon1:hover{
    background-color: rgb(202, 63, 63);
}

.icon2:hover{
    background-color: rgb(90, 101, 207);
}
